

.select-container {
    margin: 20px 0;
    position: relative;
    max-width: 320px;
    width: 100%;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
}
.select_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 16px 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    overflow: auto;
    text-wrap: nowrap;
    font-family: Roboto;
    color: var(--dark-blue);
}

.options-selectdropdown {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background: #fff;
    padding: 10px 20px;
    max-width: 250px;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.option-select {
    display: flex;
    align-items: center;
    margin: 5px 0;
    border-bottom: 1px solid var(--black);
    padding: 5px 0;
    font-family: Roboto;
    cursor: pointer;
    padding: 5px;
}
.option-select:hover {
    background: var(--table);
}
